<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<ion-header-bar class="bar-positive">
    <button class="button icon ion-chevron-left" ng-click="back()"></button>
    <h1 class="title" ng-bind="title"></h1>
</ion-header-bar>
<ion-content>
    <div class="padding">
        <form  name="emailform">

            <p class="labels" ng-bind="messageBoard"></p>
            <!--<div class="alert {{a.class}}" ng-repeat="a in alerts">{{a.msg}}</div>-->
            <div class="form-group">
                <span class="error-msg" ng-show="emailform.email.$dirty && emailform.email.$error.required">Email is required</span>
                <span class="error-msg" ng-show="emailform.email.$dirty && emailform.email.$error.email">Invalid email</span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                    <input type="email" class="form-control texty" placeholder="email" name="email" autocomplete="off" required ng-model="user.email"/>
                </div>
            </div>
            <div class="form-actions" ng-hide="!isCollapsed">
                <button id="back-btn" class="btn btn-danger" ng-disabled="loading" ng-click="back()">cancel</button>
                <button type="button" class="btn btn-default pull-right" ng-click="forgetToken()" ng-disabled="emailform.$invalid || loading" >
                    <span ng-hide="loading">Submit</span><span ng-show="loading">Saving...</span>
                </button>            
            </div>
        </form>
        <!--================================================================================================-->
        <form name="pwform" collapse="isCollapsed">
            <div class="form-group">
                <label class="labels">Passcode</label>
                <span class="error-msg" ng-show="pwform.code.$dirty && pwform.code.$error.required">Enter passcode</span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input class="form-control texty" autocomplete="off" type="text" name="code" placeholder="passcode" required ng-model="user.passcode">
                </div>
            </div>
            <div class="form-group">
                <label class="labels">New Password</label>
                <span class="error-msg" ng-show="pwform.npword.$dirty && pwform.npword.$error.required">Enter a new password</span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input class="form-control texty" autocomplete="off" type="password" name="npword" placeholder="new password" required ng-model="user.password">
                </div>
            </div>
            <div class="form-group">
                <label class="labels">Re-type New Password</label>
                <span class="error-msg" ng-show="pwform.vpword.$error.match">Passwords do not match</span>
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input class="form-control texty" autocomplete="off" type="password" name="vpword" placeholder="retype password" required ng-model="user.confirmPassword" match="user.password">
                </div>
            </div>
            <div class="margin-top-10 form-actions">
                <button type="button" id="back-btn" class="btn btn-danger" ng-click="isCollapsed = true"> cancel</button>
                <button class="btn btn-default pull-right" ng-click="resetPassword()" ng-disabled="loading || pwform.$invalid">
                    <span ng-hide="loading">reset password</span><span ng-show="loading">saving...</span>
                </button>
            </div>
        </form>
    </div>
</ion-content>
