
<!--<div class="has-header">-->
<ion-tabs class="tabs-icon-only tabs-top tabs-positive">

    <ion-tab title="Videos" icon-on="ion-ios7-film" icon-off="ion-ios7-film-outline" on-select="videoTabbed()">

        <ion-header-bar class="bar-positive">
            <button class="button icon ion-navicon" ng-click="toggleLeft()"></button>
            <h1 class="title" ng-bind="title"></h1>
        </ion-header-bar>

        <ion-content has-tabs="true">

            <ion-refresher  on-refresh="refreshVideos()"></ion-refresher>
            <ion-list scroll="false"
                      s-editing="isEditingItems" 
                      animation="fade-out"
                      delete-icon="icon ion-minus-circled">
                <!--                <ion-item ng-repeat="item in items"
                                          item="item"
                                          buttons="item.buttons"
                                          can-delete="true"
                                          can-swipe="true"
                                          on-delete="deleteItem(item)"
                                          ng-class="{completed: item.isCompleted}">-->
                <div class="row list-item" ng-repeat="v in videos" >
                    <div class="col-md-1" ng-click="playVideo($index)">
                        <img class="img-thumbnail" style="width: 80px" src="{{v.snippet.thumbnails.default.url}}"/>
                    </div>
                    <div class="col-md-11">
                        <div ng-click="playVideo($index)"><small class="date-grey" style="text-overflow: ellipsis;text-align: justify; font-weight: bold;" ng-bind="v.snippet.title"></small></div>
                        <a href="" ng-click="fbshare()"><img src="resources/img/facebook_share.gif"/></a>
                        <!--<p ng-bind="v.snippet.description"></p>-->
                    </div>
                        

                        <!--<a href="#" data-original-title="facebook" class="social-icon social-icon-color facebook"></a>-->
                    
                </div>
                <!--</ion-item>-->
            </ion-list>
        </ion-content>
    </ion-tab>

    <!--EVENTS TAB-->
    <ion-tab title="Events" icon-on="icon ion-ios7-clock" icon-off="icon ion-ios7-clock-outline" on-select="eventTabbed()">
        <div class="bar bar-header bar-positive" style="position: inherit">
            <button class="button icon ion-navicon" ng-click="toggleLeft()"></button>
            <h1 class="title" ng-bind="title"></h1>
        </div>

        <ion-content has-header="true">
            <ion-refresher  on-refresh="refreshEvents()"></ion-refresher>
            <ion-list scroll="false"
                      s-editing="isEditingItems" 
                      animation="fade-out"
                      delete-icon="icon ion-minus-circled">
                <div class="row list-item" ng-repeat="e in events" ng-click="">
                    <div class="col-md-12">
                        <!--<div><small class="date-grey" style="text-overflow: ellipsis;text-align: justify; font-weight: bold;" ng-bind="e.createdTime |date:'medium'"></small></div>-->
                        <div class="padding-updown-10" ng-bind="e.eventName"></div>
                        <!--<div ng-bind="e.eventDesc"></div>-->
                    </div>
                </div>
            </ion-list>
        </ion-content>
    </ion-tab>

<!--    <ion-tab title="About" icon-on="icon ion-ios7-gear" icon-off="icon ion-ios7-gear-outline">
        <div class="bar bar-header bar-positive" style="position: inherit">
            <button class="button icon ion-navicon" ng-click="toggleLeft()"></button>
            <h1 class="title" ng-bind="title"></h1>
        </div>

        <ion-content has-header="true">
            <h1>Settings</h1>
            <h1>Settings</h1>
            <h1>Settings</h1>
            <h1>Settings</h1>
            <h1>Settings</h1>
            <h1>Settings</h1>
            <h1>Settings</h1>
            <h1>Settings</h1>
            <h1>Settings</h1>
            <h1>Settings</h1>
            <h1>Settings</h1>
            <h1>Settings</h1>
            <h1>Settings</h1>
            <h1>Settings</h1>
            <h1>Settings</h1>
            <h1>Settings</h1>
        </ion-content>
    </ion-tab>-->

</ion-tabs>

<!--</div>-->

